<h1>Todos</h1>

<div class="todo_list">
  <%= link_to 'New Todo', new_todo_path, :class => "new_todo" %>

  <% form_for(Todo.new, :html => { :onsubmit => "createNewTodo(this); return false;" }) do |f| %>
    <div class="errors"><%= f.error_messages %></div>
  
    <p>
      <%= f.label :title, "New Todo" %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.submit 'Create' %> or <%= link_to "cancel", todos_path, :class => "cancel" %>
    </p>
  <% end %>

  <ul class="todos">
    <%= render :partial => @todos %>
  </ul>
</div>
