<h1>Listing todos</h1>

<div class="todo_list">
  <%= link_to 'New Todo', new_todo_path, :class => "new_todo" %>

  <% form_for(Todo.new) do |f| %>
    <%= f.error_messages %>
  
    <p>
      <%= f.label :title, "New Todo" %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.submit 'Create' %> or <%= link_to "cancel", todos_path, :class => "cancel" %>
    </p>
  <% end %>

  <ul class="todos">
    <% @todos.each do |todo| %>
      <%= render :partial => "todo", :locals => { :todo => todo } %>
    <% end %>
  </ul>
</div>
